#inputimage {
	width: 900px;
	height: auto;
}

.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}

#result {
	background: rgba(255, 255, 255, 0.5);
	display: block;
}
/*
@media only screen and (max-width: 600px) {
	#inputimage {
		width: 500px;
		height: auto;
	}
}

@media only screen and (max-width: 500px) {
	#inputimage {
		width: 400px;
		height: auto;
	}
}

@media only screen and (max-width: 400px) {
	#inputimage {
		width: 300px;
		height: auto;
	}
}*/